@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);
CSSResult Skip Results Iframe
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.position {
  position: absolute;
}

.home-banner {
  background-image: url(https://bit.ly/2OhbMHr);
  height: 496px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.introduce {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
  margin-bottom: 100px;
}

.introduce a {
  font-size: 24px;
  letter-spacing: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 260px;
  color: white;
  background: rgba(63, 93, 69, 0.8);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduce a:hover {
  color: #3f5d45;
  background: rgba(255, 225, 128, 0.8);
  font-weight: bolder;
}

.background {
  margin: 1px;
  overflow: hidden;
  width: 33%;
  position: relative;
}

.home-today {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2R5tqwD);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home-today:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.home-hot {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2Dwoxd7);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}

.home-new {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2OUteif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}

.home-content-slogan-mobile {
  display: none;
}

.why-make {
  margin-bottom: 105px;
  background-color: #eaf0ed;
}

.why-make .home-content-img {
  margin-top: -20px;
  margin-bottom: -20px;
  width: 460px;
  height: 460px;
}

.why-make .home-content-bg {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-make .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.why-make .text .home-content-slogan-desktop {
  width: 89px;
  height: 307px;
  margin-left: 80px;
  margin-top: -20px;
}

.why-make .text p {
  color: #8da291;
  letter-spacing: 5px;
  line-height: 1.5em;
  margin-top: 70px;
  height: 280px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.why-eat {
  margin-bottom: 105px;
  background-color: #eaf0ed;
}

.why-eat .home-content-bg {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-eat .home-content-bg .home-content-img {
  margin-top: -20px;
  margin-bottom: -20px;
  width: 460px;
  height: 460px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text .home-content-slogan-desktop {
  width: 89px;
  height: 307px;
  margin-left: 80px;
  margin-top: -20px;
}

.text p {
  color: #8da291;
  letter-spacing: 5px;
  line-height: 1.5em;
  margin-top: 70px;
  height: 280px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.home-no-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.home-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home-items li {
  width: 300px;
  margin-left: 10px;
  margin-bottom: 20px !important;
  position: relative;
  margin: 0 auto;
}

.home-items .today {
  width: 36px;
  height: 100px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 20px;
}

.home-items .today p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 36px;
  letter-spacing: 3px;
}

.home-items .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.home-items .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 56px;
}

.home-items .price p {
  font-size: 20px;
  line-height: 56px;
  width: 148px;
}

.home-items .center {
  height: 65px;
}

.home-items .center h1 {
  font-size: 24px;
  text-align: center;
  line-height: 65px;
}

.home-items .center a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-items .center a:hover {
  color: #EAF0ED;
  background-color: #3f5d45c9;
}

@media (max-width: 768px) {
  .d-none-mobile {
    display: none;
  }
  .home-banner {
    width: 100%;
    height: 277px;
    background-size: 100%;
    background-position: 0 -100;
  }
  .introduce {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-content-slogan-mobile {
    display: block;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .home-content-slogan-desktop {
    display: none;
  }
  .why-make,
  .why-eat {
    background-color: transparent;
    width: 100%;
    margin-bottom: 50px;
  }
  .why-make .home-content-bg,
  .why-eat .home-content-bg {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: block;
  }
  .why-make .home-content-bg .home-content-img,
  .why-eat .home-content-bg .home-content-img {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 250px;
    width: 100%;
  }
  .why-make .text,
  .why-eat .text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: block;
    margin: 0 auto;
  }
  .why-make .text .mobile-text,
  .why-eat .text .mobile-text {
    background: #eaf0ed;
    padding: 30px;
  }
  .why-make .text .mobile-text p,
  .why-eat .text .mobile-text p {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-top: 0px;
    height: auto;
    font-size: 16px;
  }
  .home-items .price .green {
    width: 50%;
  }
  .home-items li {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .home-no-reason {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .home-banner {
    background-position: 0 0;
  }
  .home-items li {
    width: 70%;
  }
}

.mobile-menu {
  display: none !important;
}

.product-banner img {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 60px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-menu ul {
  border: 1px solid #EAF0ED;
  width: 300px;
}

.product-menu li {
  width: 100%;
  text-align: center;
  height: 65px;
  line-height: 65px;
  font-size: 24px;
  border: 1px solid #EAF0ED;
}

.kind {
  width: 100%;
  text-align: center;
  height: 65px;
  line-height: 65px;
  font-size: 24px;
  border: 1px solid #EAF0ED;
}

.product-content .product-menu li a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-content .product-menu li a:hover {
  color: #EAF0ED;
  background: #3F5D45;
}

.items {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.items li {
  width: 45%;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.items .today {
  width: 36px;
  height: 100px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 20px;
}

.items .today p {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  line-height: 36px;
  letter-spacing: 3px;
}

.items .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.items .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 56px;
}

.items .price .green {
  width: 50%;
}

.items .price p {
  font-size: 20px;
  line-height: 56px;
}

.items .center {
  height: 65px;
}

.items .center h1 {
  font-size: 24px;
  text-align: center;
  line-height: 65px;
}

.items .center a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.items .center a:hover {
  color: #EAF0ED;
  background-color: #3f5d45c9;
}

.page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

.page li {
  width: 60px;
  height: 60px;
  border: 1px solid  #3F5D45;
  text-align: center;
  font-size: 20px;
}

.page img {
  display: block;
  width: 25px;
  margin-left: 18px;
  margin-top: 17px;
}

.page a {
  line-height: 60px;
  color: #3F5D45;
  display: block;
}

.now-page {
  background-color: #3F5D45;
}

.now-page a {
  color: white;
}

.bg-green {
  background-color: #3F5D45;
  color: white;
}

.bg-white {
  background: white;
}

.t-green {
  color: #3F5D45;
}

.t-green1 {
  color: white;
}

.bd-green1 {
  border: 1px solid #EAF0ED;
}

.bg-green1 {
  background: #EAF0ED;
}

.fw-d {
  font-weight: bold;
}

.green a, .green p, .green h1, .green h2, .green h3, .green h4 {
  color: #3F5D45;
}

@media (max-width: 768px) {
  .product-banner img {
    margin-bottom: 0px;
  }
  .product-content {
    display: block;
  }
  .product-menu ul {
    width: 100% !important;
  }
  .items {
    display: block;
    width: 100%;
  }
  .items li {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .page ul {
    margin-top: 30px;
    margin-right: 15%;
  }
}

a {
  text-decoration: none;
}

.warp {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
}

.warp img {
  display: block;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.mobile-logo {
  display: none;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.topbar .mobile-menu-items {
  display: none;
}

.topbar .logo img {
  height: 40px;
}

.topbar .mobile-menu {
  text-decoration: none;
  border-radius: 5px;
  color: #3f5d45;
  width: 40px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.topbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .menu .shop-car {
  margin-top: 10px;
}

.topbar .menu .shop-car img {
  width: 24px;
  margin-left: 60px;
}

.topbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar ul li {
  margin-left: 60px;
  line-height: 40px;
}

.topbar ul li a {
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topbar ul li a:hover {
  border-bottom: 3px solid #3f5d45;
}

.topbar ul li img {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    width: 200px;
  }
  .mobile-menu {
    display: block !important;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu ul {
    display: none;
  }
  .topbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .topbar .shop-car img {
    margin-left: 0px !important;
    width: 40px;
    margin-top: 10px !important;
  }
  .active {
    display: block !important;
  }
  .mobile-menu-items {
    position: absolute;
    left: 0;
    bottom: -160px;
    width: 100%;
    background-color: rgba(63, 93, 69, 0.8);
    border-bottom: #eaf0ed solid 2px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .mobile-menu-items a {
    color: #eaf0ed !important;
    padding-bottom: 0px !important;
    display: block;
  }
  .mobile-menu-items a:hover {
    color: #3f5d45 !important;
    background-color: #eaf0ed;
  }
  .mobile-menu-items ul {
    display: block !important;
  }
  .mobile-menu-items ul li {
    margin-left: 0px !important;
    height: 50px;
  }
}

.mail {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 116px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail h1 {
  font-size: 24px;
  line-height: 116px;
  margin-left: 20px;
}

.mail img {
  width: 40px;
}

.mail .mail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail .mail-img {
  position: absolute;
  left: 4px;
  bottom: 5px;
}

.input-img {
  position: absolute;
  left: 315px;
  bottom: 1px;
  display: block;
  width: 64px;
  height: 50px;
  background-color: #ffe180;
}

.input-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.input {
  position: relative;
  width: 380px;
}

.input input {
  width: 380px;
  height: 52px;
  font-size: 20px;
  text-indent: 50px;
}

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  background: #eaf0ed;
  padding-right: 122px;
  padding-left: 122px;
  padding-top: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inform .slogan p {
  margin-left: 200px;
  font-size: 30px;
  line-height: 50px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 10px;
  font-weight: 400;
}

.inform .logo {
  height: 26px;
}

.inform-text {
  margin-top: 140px;
  line-height: 30px;
}

.community {
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #eaf0ed;
}

.community img {
  width: 32px;
  margin-right: 10px;
}

.community p {
  margin-left: 200px;
  color: #3f5d45;
}

.bg-green {
  background-color: #3f5d45;
  color: white;
}

.bg-white {
  background: white;
}

.t-green {
  color: #3f5d45;
}

.t-green1 {
  color: white;
}

.bd-green1 {
  border: 1px solid #eaf0ed;
}

.bg-green1 {
  background: #eaf0ed;
}

.fw-d {
  font-weight: bold;
}

.green a,
.green p,
.green h1,
.green h2,
.green h3,
.green h4 {
  color: #3f5d45;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .mail {
    display: block;
    height: 186px;
  }
  .mail-text,
  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .mail-text {
    max-width: 375px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .input {
    width: 315px;
  }
  .input input {
    width: 100%;
  }
  .input-img {
    left: 251px;
  }
  .slogan {
    display: none;
  }
  .inform-text {
    margin-top: 40px;
  }
  .inform {
    height: auto;
    padding-bottom: 40px;
    display: block;
    padding-left: 50px;
  }
  .community {
    display: block;
    padding-left: 50px;
  }
  .community p {
    margin-left: 0;
    margin-top: 20px;
  }
  .logo {
    width: auto;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 75px;
}

.login-input {
  width: 50%;
  background-color: #3f5d45;
  margin-top: -15px;
  margin-bottom: -15px;
}

.login-input h2 {
  margin-top: 40px;
  font-size: 36px;
  color: #eaf0ed;
  text-align: center;
  margin-bottom: 40px;
}

.login-input a {
  width: 100%;
  display: block;
  height: 65px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe180;
  color: #3f5d45;
  font-size: 24px;
  line-height: 65px;
  margin-top: 37px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-input a:hover {
  background-color: #eaf0ed;
}

.login-input img {
  width: 30px;
}

.login-mail,
.login-password {
  margin: 0 auto;
  max-width: 330px;
  position: relative;
  margin-bottom: 16px;
}

.login-mail img,
.login-password img {
  position: absolute;
  left: 10px;
  top: 13px;
}

.login-mail input,
.login-password input {
  height: 56px;
  width: 100%;
  background-color: #eaf0ed;
  border: none;
  text-indent: 50px;
  color: #eaf0ed;
}

.login-mail input[type='mail'],
.login-mail input[type='password'],
.login-password input[type='mail'],
.login-password input[type='password'] {
  color: #3f5d45;
}

.rememberMe {
  color: #eaf0ed;
  max-width: 330px;
  margin: 0 auto;
}

.login-choose-mobile {
  display: none;
}

.login-choose {
  background-color: #eaf0ed;
  width: 50%;
  height: 350px;
}

.login-choose h3 {
  margin-bottom: 36px;
  margin-top: 40px;
  font-size: 24px;
  color: #8da291;
  text-align: center;
}

.login-choose ul {
  margin: 0 auto;
  max-width: 330px;
}

.login-choose ul li {
  background-color: #ffffff;
  margin-bottom: 16px;
}

.login-choose a {
  display: block;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-choose a:hover {
  background-color: #3f5d45;
}

.login-choose img {
  max-width: 110px;
  margin: 18px 110px;
}

@media (max-width: 768px) {
  .login {
    width: 100%;
    display: block;
  }
  .login-choose {
    display: none;
  }
  .login-input {
    width: 100%;
    padding-top: 5px;
  }
  .login-choose-mobile {
    display: block;
  }
  .login-choose-mobile ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #eaf0ed;
    padding: 30px;
  }
  .login-choose-mobile ul li {
    width: 25%;
    padding: 1px;
  }
  .login-choose-mobile ul li a {
    background-color: #ffffff;
    margin-top: 0px;
    height: 56px;
  }
  .login-choose-mobile ul li a:hover {
    background-color: #3f5d45;
  }
  .login-choose-mobile ul li img {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: block;
  }
  .login-mail,
  .login-password, .rememberMe {
    max-width: 70%;
  }
  .login-mail {
    margin-top: 30px;
  }
}

.shopcar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.shopcar-items {
  width: 65%;
}

.shopcar-items h2 {
  display: block;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding: 16px;
  background-color: #eaf0ed;
  color: #3f5d45;
  margin-bottom: 20px;
}

.shopcar-items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaf0ed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopcar-items ul li .order-picture {
  margin-right: 40px;
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopcar-items ul li h4 {
  color: #3f5d45;
}

.items-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delete-img {
  width: 24px;
}

.shopcar-count {
  margin-left: -20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.shopcar-count a {
  display: block;
}

.shopcar-count p {
  border: #eaf0ed 1px solid;
  color: #3f5d45;
  text-align: center;
  line-height: 48px;
  width: 48px;
  height: 48px;
}

.shopcar-count h3 {
  font-size: 20px;
  color: #3f5d45;
  line-height: 30px;
  margin-right: 40px;
}

.shopcar-order {
  width: 33%;
  height: 258px;
  margin-left: 3%;
  background-color: #3f5d45;
}

.shopcar-orderlist {
  padding-left: 16px;
  padding-right: 16px;
}

.shopcar-orderlist h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.shopcar-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #eaf0ed;
  font-weight: 300;
  margin-bottom: 8px;
}

.shopcar-total h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

.checkout {
  width: 100%;
  font-size: 24px;
  text-align: center;
  background-color: #ffe180;
  height: 65px;
  line-height: 65px;
  margin-top: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkout a {
  color: #3f5d45;
}

.checkout:hover {
  background-color: #eaf0ed;
}

@media (max-width: 768px) {
  .shopcar-content {
    display: block;
    margin: 0 auto;
  }
  .shopcar-count {
    display: block;
  }
  .items-count {
    margin-bottom: 5px;
  }
  .shopcar-items {
    width: 100%;
  }
  .shopcar-items ul li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: none;
  }
  .shopcar-items ul li h4 {
    font-size: 20px;
    text-align: end;
    height: 28px;
    line-height: 28px;
    border-top: #eaf0ed 1px solid;
    border-bottom: #eaf0ed 1px solid;
  }
  .shopcar-order {
    width: 100%;
    margin-left: 0;
    background-color: white;
    height: auto;
  }
  .delete-img {
    display: none;
  }
  .shopcar-orderlist {
    background-color: #ffff;
  }
  .shopcar-orderlist h2 {
    margin-top: 30px;
    background-color: #eaf0ed;
    color: #3f5d45;
    padding: 0;
    height: 65px;
    line-height: 65px;
  }
  .shopcar-total,
  .checkout {
    color: #3f5d45;
  }
  .checkout {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.transport {
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
}

.transport-content {
  padding: 30px 40px 0px 40px;
}

.transport-detail {
  width: 460px;
  height: 577px;
  background-color: #3f5d45;
  margin-bottom: 65px;
  z-index: 5;
}

.transport-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transport-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transport-address select {
  text-indent: 10px;
  color: #8da291;
}

.surname,
.name,
.transport-country,
.transport-area,
.address {
  width: 100%;
}

.surname input,
.name input,
.transport-country input,
.transport-area input,
.address input {
  width: 100%;
}

.surname,
.transport-country {
  margin-right: 4px;
}

.name,
.transport-area {
  margin-left: 4px;
}

.transport-phone input {
  width: 100%;
}

.transport-data input {
  height: 56px;
  background-color: #eaf0ed;
  border: none;
  margin-bottom: 16px;
  text-indent: 10px;
}

.transport-data select {
  height: 56px;
  background-color: #eaf0ed;
  border: none;
  margin-bottom: 16px;
}

.transport-data h3 {
  color: #eaf0ed;
  font-size: 20px;
  margin-bottom: 8px;
}

.transport-orderList {
  width: 300px;
  margin-left: 20px;
}

.transport-delver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transport-delver h4 {
  font-size: 36px;
  color: #eaf0ed;
  margin-bottom: 30px;
}

.transport-delver ul {
  margin-top: 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.transport-delver ul::before {
  content: ' ';
  height: 2px;
  width: 97%;
  background-color: #eaf0ed;
  position: absolute;
  top: 10;
  z-index: 2;
  margin-left: 2px;
}

.transport-delver ul li {
  z-index: 3;
}

.transport-delver ul li img {
  width: 24px;
}

.transport-next a {
  color: #3f5d45;
  display: block;
  background-color: #ffe180;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  margin-top: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.transport-next a a {
  color: #3f5d45;
}

.transport-next a:hover {
  background-color: #eaf0ed;
}

.transport-countlist {
  margin-bottom: 20px;
  border: #eaf0ed 2px solid;
}

.transport-countlist p {
  color: #8da291;
}

.transport-countlist h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.transport-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: #eaf0ed;
  font-weight: 300;
  margin-bottom: 8px;
}

.transport-count h4 {
  color: #8da291;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

.transport-shoppingList {
  border: #eaf0ed 2px solid;
}

.transport-shoppingList h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.transport-shoppingList ul li {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8da291;
  margin-bottom: 20px;
}

.transport-shoppingList ul li p {
  font-size: 15px;
  line-height: 25px;
}

.transport-shoppingList ul li h3 {
  font-size: 20px;
  line-height: 24px;
}

.transport-shoppingList ul li img {
  margin-right: 20px;
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .transport-orderlist {
    display: none;
  }
  .transport {
    padding: 0px;
  }
  .transport-detail {
    width: 100%;
    margin-bottom: 0px;
  }
}

.finish-order-bg {
  margin: 0 auto;
  height: 460px;
  margin-top: 36px;
  margin-bottom: 60px;
  background-image: url(https://bit.ly/2P7GhNd);
  background-repeat: no-repeat;
  background-position: 0 -80px;
  background-size: 100%;
}

.finish-order-continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finish-order-continue a {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 65px;
  color: #3f5d45;
  background-color: #ffe180;
  margin-top: 52px;
  width: 300px;
}

.finish-order img {
  margin-top: 30px;
}

.finish-order ul {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.finish-order ul::before {
  content: ' ';
  height: 2px;
  width: 97%;
  background-color: #3f5d45;
  position: absolute;
  top: 10;
  z-index: 2;
  margin-left: 2px;
}

.finish-order ul li {
  z-index: 3;
}

.finish-order ul li img {
  width: 24px;
  margin-top: 0px;
}

.finish-order {
  width: 300px;
  margin: 0 auto;
  padding-top: 120px;
}

@media (max-width: 768px) {
  .finish-order-bg {
    background-size: auto;
    margin-bottom: 0px;
    width: 100%;
    height: 588px;
    background-position: -30 0;
  }
  .finish-order-continue a {
    margin-top: 190px;
    width: 100%;
  }
  .finish-order {
    padding-top: 200px;
  }
}

@media (max-width: 568px) {
  .finish-order-bg {
    width: 100%;
    height: 588px;
    background-position: -100 0;
  }
}

.PayInformation {
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

.PayInformation-content {
  padding: 30px 40px 0px 40px;
}

.PayInformation-detail {
  width: 460px;
  height: 577px;
  background-color: #3f5d45;
  margin-bottom: 65px;
}

.PayInformation-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PayInformation-date select {
  text-indent: 10px;
  color: #8da291;
}

.credit-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credit-name input {
  width: 49%;
}

.PayInformation-month,
.PayInformation-year,
.credit-password {
  width: 50%;
}

.PayInformation-month input,
.PayInformation-year input,
.credit-password input {
  width: 100%;
}

.PayInformation-delver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PayInformation-delver h4 {
  font-size: 36px;
  color: #eaf0ed;
  margin-bottom: 30px;
}

.PayInformation-delver ul {
  margin-top: 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.PayInformation-delver ul::before {
  content: ' ';
  height: 2px;
  width: 97%;
  background-color: #eaf0ed;
  position: absolute;
  top: 10;
  z-index: 2;
  margin-left: 2px;
}

.PayInformation-delver ul li {
  z-index: 3;
}

.PayInformation-delver ul li img {
  width: 24px;
}

.PayInformation-month {
  margin-right: 4px;
}

.PayInformation-year {
  margin-left: 4px;
}

.PayInformation-phone input {
  width: 100%;
}

.PayInformation-data input {
  height: 56px;
  background-color: #eaf0ed;
  border: none;
  margin-bottom: 16px;
  text-indent: 10px;
}

.PayInformation-data select {
  height: 56px;
  background-color: #eaf0ed;
  border: none;
  margin-bottom: 16px;
}

.PayInformation-data h3 {
  color: #eaf0ed;
  font-size: 20px;
  margin-bottom: 8px;
}

.PayInformation-credit {
  position: relative;
}

.PayInformation-credit input {
  width: 100%;
}

.credit-img {
  position: absolute;
  width: 24px;
  top: 44px;
  right: 10px;
}

.PayInformation-orderList {
  width: 300px;
  margin-left: 20px;
}

.PayInformation-delver h4 {
  font-size: 36px;
  color: #eaf0ed;
  margin-bottom: 30px;
}

.PayInformation-next a {
  color: #3f5d45;
  display: block;
  background-color: #ffe180;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  margin-top: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.PayInformation-next a a {
  color: #3f5d45;
}

.PayInformation-next a:hover {
  background-color: #eaf0ed;
}

.PayInformation-countlist {
  margin-bottom: 20px;
  border: #eaf0ed 2px solid;
}

.PayInformation-countlist p {
  color: #8da291;
}

.PayInformation-countlist h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.PayInformation-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: #eaf0ed;
  font-weight: 300;
  margin-bottom: 8px;
}

.PayInformation-count h4 {
  color: #8da291;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

.PayInformation-shoppingList {
  border: #eaf0ed 2px solid;
}

.PayInformation-shoppingList h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.PayInformation-shoppingList ul li {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8da291;
  margin-bottom: 20px;
}

.PayInformation-shoppingList ul li p {
  font-size: 15px;
  line-height: 25px;
}

.PayInformation-shoppingList ul li h3 {
  font-size: 20px;
  line-height: 24px;
}

.PayInformation-shoppingList ul li img {
  margin-right: 20px;
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .PayInformation-orderlist {
    display: none;
  }
  .PayInformation {
    padding: 0px;
  }
  .PayInformation-detail {
    width: 100%;
    margin-bottom: 0px;
  }
}

.receipt {
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  margin-bottom: 60px;
}

.receipt-content {
  padding: 30px 40px 0px 40px;
  margin-bottom: 66px;
}

.receipt-content p {
  color: #eaf0ed;
  margin-bottom: 8px;
}

.receipt-content input {
  margin-bottom: 16px;
  width: 100%;
  height: 56px;
  text-indent: 10px;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.receipt-address {
  display: none;
}

.receipt-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.receipt-input select {
  width: 50%;
  margin-bottom: 8px;
  text-indent: 10px;
  height: 56px;
  color: #8da291;
}

.same-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.same-address p {
  margin-top: 3px;
  color: #eaf0ed;
}

.receipt-detail {
  width: 443px;
  position: relative;
  background-color: #3f5d45;
  margin-bottom: 65px;
}

.receipt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.receipt-title h4 {
  font-size: 36px;
  color: #eaf0ed;
  margin-bottom: 30px;
}

.receipt-title ul {
  margin-top: 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.receipt-title ul::before {
  content: ' ';
  height: 2px;
  width: 97%;
  background-color: #eaf0ed;
  position: absolute;
  top: 10;
  z-index: 2;
  margin-left: 2px;
}

.receipt-title ul li {
  z-index: 3;
}

.receipt-title ul li img {
  width: 24px;
}

.receipt-orderList {
  width: 300px;
  margin-left: 20px;
}

.receipt-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 44px;
}

.receipt-type a {
  text-align: center;
  line-height: 56px;
  border: #eaf0ed 1px solid;
  color: #eaf0ed;
  background-color: #3f5d45;
  display: block;
  width: 190px;
  height: 56px;
}

.receipt-type a:hover {
  background-color: #eaf0ed;
  color: #3f5d45;
}

.receipt-active {
  color: #3f5d45 !important;
  background-color: #eaf0ed !important;
}

.receipt-title h4 {
  font-size: 36px;
  color: #eaf0ed;
  margin-bottom: 30px;
}

.receipt-next {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.receipt-next a {
  color: #3f5d45;
  display: block;
  background-color: #ffe180;
  font-size: 24px;
  text-align: center;
  line-height: 65px;
  margin-top: 20x;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.receipt-next a a {
  color: #3f5d45;
}

.receipt-next a:hover {
  background-color: #eaf0ed;
}

.receipt-countlist {
  margin-bottom: 20px;
  border: #eaf0ed 2px solid;
}

.receipt-countlist p {
  color: #8da291;
}

.receipt-countlist h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.receipt-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: #eaf0ed;
  font-weight: 300;
  margin-bottom: 8px;
}

.receipt-count h4 {
  color: #8da291;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

.receipt-shoppingList {
  border: #eaf0ed 2px solid;
}

.receipt-shoppingList h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  text-align: center;
  color: #8da291;
  background-color: #eaf0ed;
  border-bottom: #eaf0ed 1px solid;
}

.receipt-shoppingList ul li {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8da291;
  margin-bottom: 20px;
}

.receipt-shoppingList ul li p {
  font-size: 15px;
  line-height: 25px;
}

.receipt-shoppingList ul li h3 {
  font-size: 20px;
  line-height: 24px;
}

.receipt-shoppingList ul li img {
  margin-right: 20px;
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .receipt-orderlist {
    display: none;
  }
  .receipt {
    padding: 0;
    margin-bottom: 0px;
  }
  .receipt-detail {
    width: 100%;
    margin-bottom: 0px;
  }
  .receipt-type a {
    width: 50%;
  }
  .receipt-next {
    margin-top: 100px;
  }
  .receipt-content {
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=all.css.map */