a {
  text-decoration: none;
}
.warp {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;

  img {
    display: block;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
.mobile-logo {
  display: none;
}
.topbar {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  .mobile-menu-items {
    display: none;
  }
  .logo img {
    height: 40px;
  }
  .mobile-menu {
    text-decoration: none;
    border-radius: 5px;
    color: #3f5d45;
    width: 40px;
    display: none;
    display: flex;
    align-self: center;
  }
  .menu {
    display: flex;
    .shop-car {
      img {
        width: 24px;
        margin-left: 60px;
      }
    }
  }
  ul {
    display: flex;

    li {
      margin-left: 60px;
      line-height: 40px;

      a {
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 10px;
        transition: 0.3s;
        &:hover {
          border-bottom: 3px solid #3f5d45;
        }
      }

      img {
        margin-top: 10px;
      }
    }
  }
}
@include pad {
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    width: 200px;
  }
  .mobile-menu {
    display: block !important;
  }
  .logo {
    display: flex;
    justify-content: space-around;
  }
  .menu {
    ul {
      display: none ;
    }
  }
  .topbar {
    justify-content: space-between ;
    padding-left: 20px;
    padding-right: 20px;
    .shop-car {
      img {
        margin-left: 0px !important;
        width: 40px ;
        margin-top: 20px !important;
      }
    }
  }
  .active {
    display: block !important;
  }
  .mobile-menu-items {
    position: absolute;
    left: 0;
    bottom: -160px;
    width: 100%;
    background-color: rgba(63, 93, 69, 0.8);
    border-bottom: #eaf0ed solid 2px;
    font-size: 30px;
    text-align: center;
    transition: 1s;
    a {
      color: #eaf0ed !important;
      padding-bottom: 0px !important;
      display: block;
      &:hover {
        color: #3f5d45 !important;
        background-color: #eaf0ed;
      }
    }
    ul {
      display: block !important;
      li {
        margin-left: 0px !important;
        height: 50px;
      }
    }
  }
}

.mail {
  justify-content: space-around;

  h1 {
    font-size: 24px;
    line-height: 116px;
    margin-left: 20px;
  }
  img {
    width: 40px;
  }
  .input {
    position: relative;
    width: 380px;
    input {
      width: 380px;
      height: 52px;
      font-size: 20px;
      text-indent: 50px;
    }
  }
  .mail-text {
    display: flex;
  }
  height: 116px;
  align-items: center;
  display: flex;
  .input-img {
    position: absolute;
    left: 315px;
    bottom: 1px;
    display: block;
    width: 64px;
    height: 50px;
    background-color: #ffe180;
    a {
      display: flex;
      justify-content: center;
      padding: 5px;
    }
  }
  .mail-img {
    position: absolute;
    left: 4px;
    bottom: 5px;
  }
}
.inform {
  display: flex;
  height: 341px;
  background: #eaf0ed;
  padding-right: 122px;
  padding-left: 122px;
  padding-top: 30px;
  justify-content: space-around;
  .slogan {
    p {
      margin-left: 200px;
      font-size: 30px;
      line-height: 50px;
      writing-mode: vertical-rl;
      letter-spacing: 10px;
      font-weight: 400;
    }
  }
  .logo {
    height: 26px;
  }
}
 .inform-text {
    margin-top: 140px;
    line-height: 30px;
  }
.community {
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  background: #eaf0ed;
  img {
    width: 32px;
    margin-right: 10px;
  }
  p {
    margin-left: 200px;
    color: #3f5d45;
  }
}

.bg-green {
  background-color: #3f5d45;
  color: white;
}

.bg-white {
  background: white;
}

.t-green {
  color: #3f5d45;
}

.t-green1 {
  color: white;
}

.bd-green1 {
  border: 1px solid #eaf0ed;
}

.bg-green1 {
  background: #eaf0ed;
}

.fw-d {
  font-weight: bold;
}

.green {
  a,
  p,
  h1,
  h2,
  h3,
  h4 {
    color: #3f5d45;
  }
}

@include pad {
  .mail {
    display: block;
    height: 186px;
  }
  .mail-text,
  .input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .mail-text{
    max-width: 375px;
    justify-content: space-around;
  }
  .slogan{
    display: none;
  }
  .inform-text{
    margin-top: 40px;
  }
  .inform{
    height: auto;
    padding-bottom: 40px;
    display: block;
    padding-left: 50px;
  }
  .community{
    display: block;
    padding-left: 50px;
    p{
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .logo{
    width: auto;
  }
}
