img {
  width: 100%;
}
.position {
  position: absolute;
}
.home-banner {
  background-image: url(https://bit.ly/2OhbMHr);
  height: 496px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -10;
  object-fit: cover;
  transition: 0.3s;
}
.introduce {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 256px;
  display: flex;
  margin-top: -100px;
  margin-bottom: 100px;

  a {
    font-size: 24px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    color: white;
    background: rgba(63, 93, 69, 0.8);
    writing-mode: vertical-lr;
    transition: 0.5s;
  }
  a:hover {
    color: #3f5d45;
    background: rgba(255, 225, 128, 0.8);
    font-weight: bolder;
  }
}

.background {
  margin: 1px;
  overflow: hidden;
  width: 33%;
  position: relative;
}
.home-today {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2R5tqwD);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home-today:hover {
  filter: blur(0px);
}
.home-hot {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2Dwoxd7);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}
.home-new {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background-image: url(https://bit.ly/2OUteif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}
.home-content-slogan-mobile {
  display: none;

}

.why-make {
  margin-bottom: 105px;
  background-color: #eaf0ed;
  .home-content-img {
      margin-top: -20px;
      margin-bottom: -20px;
      width: 460px;
      height: 460px;
    }
  .home-content-bg {
    height: 420px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .text {
      display: flex;
      flex-direction: row-reverse;

      .home-content-slogan-desktop {
        width: 89px;
        height: 307px;
        margin-left: 80px;
        margin-top: -20px;
      }
      p {
        color: #8da291;
        letter-spacing: 5px;
        line-height: 1.5em;
        margin-top: 70px;
        height: 280px;
        writing-mode: vertical-rl;
      }
    }
}

.why-eat {
  margin-bottom: 105px;
  background-color: #eaf0ed;
  .home-content-bg {
    height: 420px;
    display: flex;
    justify-content: space-between;

    .home-content-img {
      margin-top: -20px;
      margin-bottom: -20px;
      width: 460px;
      height: 460px;
    }
    
  }
}
.text {
      display: flex;
      flex-direction: row-reverse;

      .home-content-slogan-desktop {
        width: 89px;
        height: 307px;
        margin-left: 80px;
         margin-top: -20px;
      }
      p {
        color: #8da291;
        letter-spacing: 5px;
        line-height: 1.5em;
        margin-top: 70px;
        height: 280px;
        writing-mode: vertical-rl;
      }
    }

.home-no-reason {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.home-items {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  li {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 20px !important;
    position: relative;
    margin: 0 auto;
  }

  .today {
    width: 36px;
    height: 100px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 20px;

    p {
      writing-mode: vertical-lr;
      line-height: 36px;
      letter-spacing: 3px;
    }
  }

  .heart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
  }

  .price {
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 56px;

    p {
      font-size: 20px;
      line-height: 56px;
      width: 148px;
    }
  }

  .center {
    height: 65px;

    h1 {
      font-size: 24px;
      text-align: center;
      line-height: 65px;
    }

    a{
      display: block;
      transition: 0.3s;
      &:hover {
      color:#EAF0ED;
      background-color: #3f5d45c9;
     
    }
    }
  }
}
@include pad {
  .d-none-mobile {
    display: none;
  }

  
  .home-banner {
    width: 100%;
    height: 277px;
     background-size: 100%;
     background-position: 0 -100;
     
  }
  .introduce {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-content-slogan-mobile {
    display: block;
    height: 60px ;
    margin-top: 0px;
    margin-bottom: 10px ;
  }
  .home-content-slogan-desktop {
    display: none;
  }
  .why-make,
  .why-eat {
    background-color: transparent ;
    width: 100%;
    margin-bottom: 50px ;
    .home-content-bg {
      height: auto ;
      flex-direction: row ;
      display: block ;
      .home-content-img {
        margin-top: 0px ;
        margin-bottom: 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
        min-height: 250px;
        width: 100%;
      }
    }
    .text {
      flex-direction: row ;
      display: block ;
      margin: 0 auto ;
      .mobile-text {
        background: #eaf0ed ;
        padding: 30px ;
        p {
          writing-mode: horizontal-tb ;
          margin-top: 0px ;
          height: auto ;
          font-size: 16px ;
        }
      }
    }
   
  }
  .home-items {
    .price {
      .green {
        width: 50% ;
      }
    }
    li {
      width: 50% ;
      margin: 0 auto ;
      margin-bottom: 20px ;
    }
  }
  .home-no-reason {
    width: 100%;
  }
}
@include mobile{
  .home-banner {
    background-position: 0 0;
  }

  .home-items{
    li{
      width: 70%;
    }
  }
}